/* Style body and title of page */
body {
    background-color: #006699;
}

.header{
    display: block;
    margin: auto;
}

h1 {
    font-family: 'Fascinate Inline', cursive;
    text-align: center;
    font-size: 48px;
}

h3 {
    font-family: 'Fascinate Inline', cursive;
    text-align: center;
    font-size: 32px;
}


/* Style the parent containers */
.row .col-md-6{
    height: 500px;
    padding: 0px;
}


#chart-display-col {
    border-right: 4px dotted black;
}


/* Style svg components*/
svg {
    fill: rgba(110, 205, 255, 0.54);
    background-color: white;
}

