{% extends "employee_layout.html" %}

{% block title %}
    Homepage
{% endblock %}

{% block main %}
    <div style="background-color:#f0f0f5;color:#006699;padding:20px;">
        <p>
            Dear employee,
        </p>
        <p>
            You have been chosen to provide feedback for you manager. Please click on "Provide feedback" in the top left corner. You can only
            submit feedback once. Your feedback will be anonymous.
        </p>
        <p>
            Your,
        </p>
        <p>
            ANMO team
        </p>
    </div>
{% endblock %}