{% extends "manager_layout.html" %}

{% block title %}
    Self assessment
{% endblock %}

{% block main %}
    <form class="was-validated">
      <div class="custom-control custom-checkbox mb-3">
        <input type="checkbox" class="custom-control-input" id="customControlValidation1" required>
        <label class="custom-control-label" for="customControlValidation1">Check this custom checkbox</label>
        <div class="invalid-feedback">Example invalid feedback text</div>
      </div>

      <div class="custom-control custom-radio">
        <input type="radio" class="custom-control-input" id="customControlValidation2" name="radio-stacked" required>
        <label class="custom-control-label" for="customControlValidation2">Toggle this custom radio</label>
      </div>
      <div class="custom-control custom-radio mb-3">
        <input type="radio" class="custom-control-input" id="customControlValidation3" name="radio-stacked" required>
        <label class="custom-control-label" for="customControlValidation3">Or toggle this other custom radio</label>
        <div class="invalid-feedback">More example invalid feedback text</div>
      </div>
      <p>1 My tasks motivate me and I get excited about my work.</p>
      <div class="form-group">
        <select class="custom-select" name="Q1" required>
           <option disabled selected value="">Select</option>
                <option value="1">Fully disagree</option>
                <option value="2">Partly disagree</option>
                <option value="3">Neither agree or disagree</option>
                <option value="4">Partly agree</option>
                <option value="5">Fully agree</option>
        </select>
        <div class="invalid-feedback">Example invalid custom select feedback</div>
      </div>
       <p>2 I always know what may task is and can get straight to work.</p>
      <div class="form-group">
        <select class="custom-select" name="Q1" required>
           <option disabled selected value="">Select</option>
                <option value="1">Fully disagree</option>
                <option value="2">Partly disagree</option>
                <option value="3">Neither agree or disagree</option>
                <option value="4">Partly agree</option>
                <option value="5">Fully agree</option>
        </select>
        <div class="invalid-feedback">Example invalid custom select feedback</div>
      </div>
       <p>3 My work varies in the amount of concentration and thinking required.</p>
      <div class="form-group">
        <select class="custom-select" name="Q1" required>
           <option disabled selected value="">Select</option>
                <option value="1">Fully disagree</option>
                <option value="2">Partly disagree</option>
                <option value="3">Neither agree or disagree</option>
                <option value="4">Partly agree</option>
                <option value="5">Fully agree</option>
        </select>
        <div class="invalid-feedback">Example invalid custom select feedback</div>
      </div>
       <p>4 Sometimes I am bored in my job.</p>
      <div class="form-group">
        <select class="custom-select" name="Q1" required>
           <option disabled selected value="">Select</option>
                <option value="1">Fully disagree</option>
                <option value="2">Partly disagree</option>
                <option value="3">Neither agree or disagree</option>
                <option value="4">Partly agree</option>
                <option value="5">Fully agree</option>
        </select>
        <div class="invalid-feedback">Example invalid custom select feedback</div>
      </div>
       <p>5 I often do the same work over and over again.</p>
      <div class="form-group">
        <select class="custom-select" name="Q1" required>
           <option disabled selected value="">Select</option>
                <option value="1">Fully disagree</option>
                <option value="2">Partly disagree</option>
                <option value="3">Neither agree or disagree</option>
                <option value="4">Partly agree</option>
                <option value="5">Fully agree</option>
        </select>
        <div class="invalid-feedback">Example invalid custom select feedback</div>
      </div>
       <p>6 I can flexibly decide when to do wich task.</p>
      <div class="form-group">
        <select class="custom-select" name="Q6" required>
           <option disabled selected value="">Select</option>
                <option value="1">Fully disagree</option>
                <option value="2">Partly disagree</option>
                <option value="3">Neither agree or disagree</option>
                <option value="4">Partly agree</option>
                <option value="5">Fully agree</option>
        </select>
        <div class="invalid-feedback">Example invalid custom select feedback</div>
      </div>
      <p>7 I have a typical daily rountine at work.</p>
      <div class="form-group">
        <select class="custom-select" name="Q7" required>
           <option disabled selected value="">Select</option>
                <option value="1">Fully disagree</option>
                <option value="2">Partly disagree</option>
                <option value="3">Neither agree or disagree</option>
                <option value="4">Partly agree</option>
                <option value="5">Fully agree</option>
        </select>
        <div class="invalid-feedback">Example invalid custom select feedback</div>
      </div>
      <p>8 My manager tells me what to do and I don't suggest tasks.</p>
      <div class="form-group">
        <select class="custom-select" name="Q8" required>
           <option disabled selected value="">Select</option>
                <option value="1">Fully disagree</option>
                <option value="2">Partly disagree</option>
                <option value="3">Neither agree or disagree</option>
                <option value="4">Partly agree</option>
                <option value="5">Fully agree</option>
        </select>
        <div class="invalid-feedback">Example invalid custom select feedback</div>
      </div>
      <p>9 My manager encourages me to come up with different ideas.</p>
      <div class="form-group">
        <select class="custom-select" name="Q9" required>
           <option disabled selected value="">Select</option>
                <option value="1">Fully disagree</option>
                <option value="2">Partly disagree</option>
                <option value="3">Neither agree or disagree</option>
                <option value="4">Partly agree</option>
                <option value="5">Fully agree</option>
        </select>
        <div class="invalid-feedback">Example invalid custom select feedback</div>
      </div>
      <p>10 I do my work well because I want to.</p>
      <div class="form-group">
        <select class="custom-select" name="Q10" required>
           <option disabled selected value="">Select</option>
                <option value="1">Fully disagree</option>
                <option value="2">Partly disagree</option>
                <option value="3">Neither agree or disagree</option>
                <option value="4">Partly agree</option>
                <option value="5">Fully agree</option>
        </select>
        <div class="invalid-feedback">Example invalid custom select feedback</div>
      </div>
      <p>11 I always try not to dissapoint my manager.</p>
      <div class="form-group">
        <select class="custom-select" name="Q11" required>
           <option disabled selected value="">Select</option>
                <option value="1">Fully disagree</option>
                <option value="2">Partly disagree</option>
                <option value="3">Neither agree or disagree</option>
                <option value="4">Partly agree</option>
                <option value="5">Fully agree</option>
        </select>
        <div class="invalid-feedback">Example invalid custom select feedback</div>
      </div>
      <p>12 I feel challenged by my work.</p>
      <div class="form-group">
        <select class="custom-select" name="Q12" required>
           <option disabled selected value="">Select</option>
                <option value="1">Fully disagree</option>
                <option value="2">Partly disagree</option>
                <option value="3">Neither agree or disagree</option>
                <option value="4">Partly agree</option>
                <option value="5">Fully agree</option>
        </select>
        <div class="invalid-feedback">Example invalid custom select feedback</div>
      </div>
      <p>13 I get along with my manager on a professional level.</p>
      <div class="form-group">
        <select class="custom-select" name="Q13" required>
           <option disabled selected value="">Select</option>
                <option value="1">Fully disagree</option>
                <option value="2">Partly disagree</option>
                <option value="3">Neither agree or disagree</option>
                <option value="4">Partly agree</option>
                <option value="5">Fully agree</option>
        </select>
        <div class="invalid-feedback">Example invalid custom select feedback</div>
      </div>
      <p>14 I get along with my manager on a personal level.</p>
      <div class="form-group">
        <select class="custom-select" name="Q14" required>
           <option disabled selected value="">Select</option>
                <option value="1">Fully disagree</option>
                <option value="2">Partly disagree</option>
                <option value="3">Neither agree or disagree</option>
                <option value="4">Partly agree</option>
                <option value="5">Fully agree</option>
        </select>
        <div class="invalid-feedback">Example invalid custom select feedback</div>
      </div>
      <p>15 My manager takes advice from me and other team members.</p>
      <div class="form-group">
        <select class="custom-select" name="Q15" required>
           <option disabled selected value="">Select</option>
                <option value="1">Fully disagree</option>
                <option value="2">Partly disagree</option>
                <option value="3">Neither agree or disagree</option>
                <option value="4">Partly agree</option>
                <option value="5">Fully agree</option>
        </select>
        <div class="invalid-feedback">Example invalid custom select feedback</div>
      </div>
      <p>16 I sometimes can't fulfill the expectations of my manager.</p>
      <div class="form-group">
        <select class="custom-select" name="Q16" required>
           <option disabled selected value="">Select</option>
                <option value="1">Fully disagree</option>
                <option value="2">Partly disagree</option>
                <option value="3">Neither agree or disagree</option>
                <option value="4">Partly agree</option>
                <option value="5">Fully agree</option>
        </select>
        <div class="invalid-feedback">Example invalid custom select feedback</div>
      </div>
      <p>17 I feel very controlled in my job.</p>
      <div class="form-group">
        <select class="custom-select" name="Q17" required>
           <option disabled selected value="">Select</option>
                <option value="1">Fully disagree</option>
                <option value="2">Partly disagree</option>
                <option value="3">Neither agree or disagree</option>
                <option value="4">Partly agree</option>
                <option value="5">Fully agree</option>
        </select>
        <div class="invalid-feedback">Example invalid custom select feedback</div>
      </div>


        <!--Submit button-->
        <!-- http://getbootstrap.com/docs/4.1/components/buttons/ -->
        <button class="btn btn-primary" type="Submit">Submit</button>
    </form>
{% endblock %}