{% extends "manager_layout.html" %}

{% block title %}
    Log In
{% endblock %}

{% block main %}
 <h1 class="mb-3">Feedback for {{ manager_name }}</h1>
 <div class="blocktext" style="background-color:#f0f0f5;color:#006699;padding:20px;">
 This report summarizes the feedback concerning your leadership style that your chosen feedback givers have provided and compares it to your self-assessment.
 Please look at your results and identify your strengths and weaknesses and how these match with your expectations. Reflect upon possible reasons for instances where your results do not match your expectations. Based on these set yourself three goals concerning your leadership style that you would like to change.
 </div>
{% endblock %}