{% extends "manager_layout.html" %}

{% block title %}
    Request feedback
{% endblock %}

{% block main %}
    <!-- http://getbootstrap.com/docs/4.1/content/typography/ -->
    <h1 class="mb-3">Request feedback</h1>

    <!-- http://getbootstrap.com/docs/4.1/components/forms/ -->
    <form action="/manager_index" method="post">
        <!--Input field for name of manager-->
        <div class="form-group">
            <input autocomplete="off" autofocus class="form-control" name="email" placeholder="Email of feedback giver" type="text">
        </div>
        <div class="form-group">
            <input autocomplete="off" autofocus class="form-control" name="email" placeholder="Email of feedback giver" type="text">
        </div>
        <div class="form-group">
            <input autocomplete="off" autofocus class="form-control" name="email" placeholder="Email of feedback giver" type="text">
        </div>
         <!--Submit button-->
        <!-- http://getbootstrap.com/docs/4.1/components/buttons/ -->
        <button class="btn btn-primary" type="Submit">Submit</button>
    </form>
{% endblock %}